
@font-face {
    font-family: 'planewalkerregular';
    src: url('http://localhost/Anjolie-Winters/fonts/planewalker-webfont.woff2') format('woff2'),
         url('http://localhost/Anjolie-Winters/fonts/planewalker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	/*! border : 1px solid black; */
	/*! outline-style: solid; */
	outline-color: green;
	outline-width: thin;

	/*! font-family: 'planewalkerregular', Arial, sans-serif; */
	font-weight:normal;
	font-style:normal;
	
    font-family: 'Shojumaru', cursive;
    /*
	font-family: 'Roboto', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Eagle Lake', cursive;
    font-family: 'Chewy', cursive;
    font-family: 'Knewave', cursive;
	*/
}

body {
	margin:0;
	overflow:hidden;
}

.cardFrame {
	/*! margin: 20px; */
	float: left;
	position:  initial;
}
.cardBackground {
	border : 15px solid black;
	/*! border-radius: 40px; */
	background-position: center;
	background-size: cover;
	background-repeat: normal;
}
.cardForeground {
	/*! border-radius: 25px; */
	width: 897px;
	height: 1497px;
	position: relative;
}
/** /
.color-w .picto-img * { border: 5px solid yellow; }
.color-u .picto-img * { border: 5px solid blue; }
.color-b .picto-img * { border: 5px solid black; }
.color-r .picto-img * { border: 5px solid red; }
.color-g .picto-img * { border: 5px solid green; }
/*/
.color-w .cardForeground { background-image:url('bg/white.png'); }
.color-u .cardForeground { background-image:url('bg/blue.png' ); }
.color-b .cardForeground { background-image:url('bg/black.png'); }
.color-r .cardForeground { background-image:url('bg/red.png'  ); }
.color-g .cardForeground { background-image:url('bg/green.png'); }
/**/

.container
{
	position: absolute;
	display: block;
	text-align: center;
}
.left-bar
{
	width: 150px;
	/* top: 151px; */
	bottom: 360px;
}
.right-bar
{
	width: 150px;
	bottom: 360px;
	right:10px; 
}
.rulebox
{
	bottom : 0px;
	/*! width:100%; */
	height: 94px;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgb(255, 255, 255));
	height: 320px;
	font-size: 35px;
	padding: 20px;
	/*! border: 5px solid red; */
	/*! border-radius: 200px; */
	/*! vertical-align: bottom; */
	border-radius: 25px;
}
.title
{
	width: 100%;
	/*! background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1)); */
	height: 150px;
}
.ll {
    font-size: 60px;
    width: 150px;
    height: 150px;
    bottom: 275px;
    text-align: center;
    z-index: 99;
    margin-left: 350px;
    /*! background-color: antiquewhite; */
}



.inner 
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.head {
    width: 62%;
    height: 100%;
    text-align: center;
    font-size: 60px;
    margin: auto; 
    color: white;
    text-shadow: -10px -10px 10px #000, -10px +10px 10px #000, +10px -10px 10px #000, +10px +10px 10px #000;
}
.head span {
	/* margin-top:20px; */
}

.picto-txt {
	float:right;
    font-size: 100px;
    text-shadow: -10px -10px 10px #fff, -10px +10px 10px #fff, +10px -10px 10px #fff, +10px +10px 10px #fff;
    font-family: 'planewalkerregular';
	min-width: 100px;
}

.picto-img
{
	width:130px;
	height:130px;
	margin: 10px;
}
.picto-img img, .picto-img span
{
	width:100%;
	height:100%;
	background-color: white;
	border: 5px solid black;
	border-radius: 100%;
	object-fit: contain;
}
.picto-img span
{
	  width: 100%;
	  height: 100%;
	  display: block;
	  text-align: center;
	  vertical-align: middle;
	  margin-left: auto;
	  font-size: 90px;
	  line-height: 133px;
}