* {
	/*! border : 1px solid black; */
	/*! outline-style: solid; */
	outline-color: green;
	outline-width: thin;

    font-family: 'Shojumaru', cursive;
    /*
	font-family: 'Roboto', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Eagle Lake', cursive;
    font-family: 'Chewy', cursive;
    font-family: 'Knewave', cursive;
	*/
}

.cardFrame {
	margin: 20px;
	float: left;
	position:  initial;
}
.cardBorder {
	border : 15px solid black;
	background-color: antiquewhite;
	border-radius: 40px;
	/*! outline: 15px solid blue; */
	/*! outline-style: auto; */
	/*! outline-width: 15px; */
}
.cardBackground {
	background-position: center;
	background-size: cover;
	background-repeat: normal;
	border-radius: 500px;
	width: 897px;
	height: 1497px;
	position: relative;
}
/** /
.color-w .picto * { border: 5px solid yellow; }
.color-u .picto * { border: 5px solid blue; }
.color-b .picto * { border: 5px solid black; }
.color-r .picto * { border: 5px solid red; }
.color-g .picto * { border: 5px solid green; }
/**/

/** /
.color-w { border:15px solid yellow; }
.color-u { border:15px solid blue  ; }
.color-b { border:15px solid black ; }
.color-r { border:15px solid red   ; }
.color-g { border:15px solid green ; }
/**/

.container
{
	position: absolute;
	display: block;
}
.left-bar
{
	width: 150px;
	/* top: 151px; */
	bottom: 360px;
}
.right-bar
{
	width: 150px;
	bottom: 360px;
	right:0px; 
}
.rulebox
{
	bottom : -4px;
	/*! width:100%; */
	height: 94px;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgb(255, 255, 255));
	height: 320px;
	font-size: 35px;
	padding: 20px;
	/*! border: 5px solid red; */
	/*! border-radius: 200px; */
	/*! vertical-align: bottom; */
	border-radius: 40px;
}
.title
{
	width: 100%;
	/*! background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1)); */
	height: 150px;
}
.ll {
    font-size: 60px;
    width: 100%;
    height: 150px;
    bottom: 340px;
    text-align: center;
    z-index: 99;
}



.inner 
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.head {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 60px;
    margin: auto; 
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.head span {
	/* margin-top:20px; */
}
.picto
{
	width:130px;
	height:130px;
	margin: 10px;
}
.picto img, .picto span
{
	width:100%;
	height:100%;
	background-color: white;
	border: 5px solid black;
	border-radius: 100%;
	object-fit: contain;
}
.picto span
{
	  width: 100%;
	  height: 100%;
	  display: block;
	  text-align: center;
	  vertical-align: middle;
	  margin-left: auto;
	  font-size: 90px;
	  line-height: 133px;
}